<ul>
    <li><a href ="http://localhost:3000/">Index</a></li>
    <li><a href ="http://localhost:3000/lectures">Lectures</a></li>
    <li><a href ="http://localhost:3000/marks">Marks</a></li>
    <li><a href ="http://localhost:3000/contact">Contact</a></li>
</ul>