<p>
    <h1>Some Milestones of Internet History</h1>
    <div>In {{year}}:</div>
    <p>{{title}}</p>
    <img src = {{imgPath}}>
</p>
<button onclick = "window.location.href='http://localhost:3000/'">Next</button>